.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, input, button, div, img, span, p {
  font-family: 'MuliFont' !important;
}

@font-face {
  font-family: 'MuliFont';
  src: local('MuliFont'), url(../public/assets/fonts/Muli.ttf) format('ttf');
}
